@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body {
  background-color: black;
  color: white;
	font-family: 'Press Start 2P', cursive;
}

.vertical-container {
	align-items: center;
	display: flex;
	height: 300px;
	justify-content: center;
	width: 230px;
	margin: 0 auto;
}

h1.vertical-container {
	text-align: center;
  font-size: 16px;
}
